@page
@model EventsDisplay.Pages.Events.EventsModel1
@{
    ViewData["Title"] = "Events";
}


 
<div class="mt-5">
    @if (Model.eventsList.count() == 0)
    {
        <p class="text-center"> No data to display </p>
    }

   </p>Test</p>

</div>